<div class="container">

  <div style="margin: 30px">
    <h1 class="text-center">Register</h1>

    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label>First Name*</label>
        <input class="form-control" formControlName="fname" type="text"
               [ngClass]="fname && fname.invalid && (fname.dirty || fname.touched) ? 'is-invalid' : ''" />
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.fname">
            <div class="error-message" *ngIf="fname && fname.invalid && fname.hasError(error.type) && (fname.dirty || fname.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <label>Last Name*</label>
        <input class="form-control" formControlName="lname" type="text"
               [ngClass]="lname && lname.invalid && (lname.dirty || lname.touched) ? 'is-invalid' : ''"/>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.lname">
            <div class="error-message" *ngIf="lname && lname.invalid && lname.hasError(error.type) && (lname.dirty || lname.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <label>Email Id*</label>
        <input class="form-control" formControlName="email" type="email"
               [ngClass]="email && email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''"/>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message" *ngIf="email && email.invalid && email.hasError(error.type) &&
    (email.dirty || email.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>


      <div class="form-group">
        <label>Password*</label>
        <input class="form-control" formControlName="password" type="password"
               [ngClass]="password && password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"/>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div class="error-message" *ngIf="password && password.invalid && password.hasError(error.type) && (password.dirty || password.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>


      <div class="form-group">
        <label>Confirm Password*</label>
        <input class="form-control" formControlName="confirmpassword" type="password"
               [ngClass]="confirmpassword && confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched) ? 'is-invalid' : ''"/>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confirmpassword">
            <div class="error-message" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.hasError(error.type) && (confirmpassword.dirty || confirmpassword.touched)">
<!--            <div class="error-message" *ngIf="confirmpassword.hasError(error.type) && (confirmpassword.dirty || confirmpassword.touched)">-->
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <br>
      <button class=" btn btn-primary" [disabled]="loginForm.invalid" type="submit">Signup</button>
    </form>
  </div>
</div>
